@import "utilities";
@import "footer";
@import "navbar";

.cocktails {
  margin: 15px;
  padding: 5px;
  border: 1px solid red;
  text-align: center;
  background-color: #f1f1f1;
}
.landing {
  color: white;
  text-align: center;
  height: 90vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing h1 {
  font-size: 200px;
}
.show-header {
  text-align: center;
}
.show-ingredients {
  margin-top: 200px;
  text-decoration: underline;
}
.create-cocktail-btn {
  text-align: center;
}
